body>footer {
    position: sticky;
    padding: 1rem 0;
}

body > button{
    align-items: center;
}

article {
    align-items: center;
    padding: 1rem;
    /* width: 70%; */
}

.proceed_button{
    align-self: center;
}