/* Grid */
body{
  display: flex;
  flex-direction: column;
  overflow-y: visible;
  height: 100vh;
}
body>main {
  margin-bottom: auto;
  margin-top: auto;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* min-height: 100vh; */
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  padding: 1rem 0;
}


article {
  padding: 0;
  overflow: visible;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

article div {
  /* overflow: scroll; */
  padding: 1rem;
}

@media (min-width: 576px) {
  body>main {
    padding: 1.25rem 0;
  }

  article div {
    padding: 1.25rem;
  }
}

@media (max-width: 991px) {
  body{
    overflow-y: scroll;
  }
}

@media (min-width: 768px) {
  body>main {
    padding: 1.5rem 0;
  }

  article div {
    padding: 1.5rem;
  }
}

@media (min-width: 992px) {
  body>main {
    padding: 1.75rem 0;
  }

  article div {
    padding: 1.75rem;
  }
}

@media (min-width: 1200px) {
  body>main {
    padding: 1.5rem 0;
  }

  article div {
    padding: 1.5rem;
  }
}

/* Nav */
summary[role="link"].secondary:is([aria-current], :hover, :active, :focus) {
  background-color: transparent;
  color: var(--secondary-hover);
}

/* Hero Image */
article div:nth-of-type(2) {
  display: none;
  background-color: #374956;
  background-image: url("../img/tenor.gif");
  background-position: center;
  background-size: cover;
}

@media (min-width: 992px) {
  .grid>div:nth-of-type(2) {
    display: block;
  }
}

/* Footer */
body>footer {
  /* position:sticky; */
  bottom: 0;
  padding: 0;
  margin-bottom: 0;
  margin-top: auto;
  padding-bottom: 30px;
}


/* Pink Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #810CA8;
  --primary-hover: #000000;
  --primary-focus: rgba(216, 27, 96, 0.125);
  --primary-inverse: #FFF;
}


/* Pink Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #810CA8;
  --primary-hover: #FFF;
  --primary-focus: rgba(216, 27, 96, 0.25);
  --primary-inverse: #FFF;
}

[data-theme="dark"], button:hover{
  color: #000;
}

[data-theme="light"], button:hover{
  color: #FFF;
}
/* Pink (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

.bg_image {
  background-image: url("../img/mc_bg.jpg");
  background-size: cover;
  scale: 102%;
  background-position: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -10;
  filter: blur(5px) brightness(80%);
}

[data_theme="light"],
.navbar_elem{
  --primary-hover: #FFF;
  color: #FFF;
}

.textarea-resize {
  resize: none;
  overflow: hidden;
}


@media (max-width: 1000px) {
  .bg_image {
    width: 1920px;
    /* position: fixed; */
    /* background-image: none; */
  }
}

.radio-select{
  max-height: 300px;
  overflow: scroll;
}