.details {
    display:flex;
    flex-direction: row;
    justify-content: center;
    /* overflow-x: scroll; */
    /* padding: 0; */
    transition: margin-left 1s
}

.hidden{
    margin-left: -555px;
}